//coded by Prejeeth Thirumani | 08/12-13/2015 1.34 HRS PST//

@import  "./_settings";

body{
	word-wrap: break-word;
}
body.no-scroll {
	overflow: hidden;
}

.hero-wrapper {
	background: #6fbd8d url("../visual-assets/hero1.jpg")repeat scroll center center / cover;
	background-attachment: fixed;
	//background: #6fbd8d;
    min-height: 600px;
    margin: auto;
}
.skill-set {
	//background: #6fbd8d url("../visual-assets/hero1.jpg")repeat scroll 0 0 / cover;
	background: #ffffff;
    //height: 550px;
    margin: auto;
    padding: 4rem;
}
.recent-works {
	//background: #6fbd8d url("../visual-assets/hero1.jpg")repeat scroll 0 0 / cover;
	background: #f1f3f8;
    //height: 600px;
    margin: auto;
    padding: 4rem 4rem 8rem 4rem;
}
.biography {
	//background: #6fbd8d url("../visual-assets/hero1.jpg")repeat scroll 0 0 / cover;
	background: #ffffff;
    //height: 600px;
    margin: auto;
    padding: 4rem;
}
.fat-footer {
	background: #6fbd8d url("../visual-assets/footer-bg1.png")repeat scroll 0 0 / cover;
	//background: #f1f3f8;
    //height: 600px;
    margin: auto;
    padding: 4rem;
}
.fat-footer .columns{
	text-align: center;
}
.panel {
	background: none;
	border: none;
	text-align: center;
}
.me{
	text-align: center;
	margin: 4rem auto 0 auto;
}
.intro-text h1{
	text-align: center;
	font-size: 3.5rem;
	font-weight: bold;
	color: #ffffff;
	margin-top:2rem;
	line-height: 4.5rem;
}
.intro-text h3{
	text-align: center;
	font-family: 'Roboto Slab', serif;
	font-size: 1.8rem;
	color: #ffffff;
	margin:2.4rem auto 5rem auto;
	line-height: 3.0rem;
}
.skills{
	text-align: center;
	height: 80%;
	padding: 0 2.5rem;
	//border: 1px solid #e6e6e6;
}
.section-header{
	text-align: center;
	font-size: 2rem;
	color: #444444;
	margin-bottom: 3.2rem;
}
.skills h5{
	text-align: center;
	font-size: 1.2rem;
	font-weight: bold;
	color: #525252;
	margin-top:.1rem;
	line-height: 2rem;
	margin-bottom: 1.2rem;
}
.skills p{
	color: #646464;
	font-weight: 300;
}
.font-icon-visual{
	 font-family: untitled-font-2;
	 color: #458787 !important;
	 font-size: 3rem;
	 margin-bottom: .5rem;
}
.biography p{
	color: #646464;
	font-weight: 300;
	margin-right: 3rem;
}
.section-header2{
	font-size: 2rem;
	color: #444444 !important;
	margin-bottom: 3.2rem;
}
.section-header3{
	font-size: 2rem;
	color: #444444 !important;
	margin-bottom: 3.2rem;
}
.biography h3{
	font-family: 'Roboto Slab', serif;
	font-size: 1.8rem;
	color: #525252;
	margin:2.4rem 3rem 3rem auto;
	line-height: 3.0rem;
}
.footer-font-icon-visual{
	 font-family: untitled-font-2;
	 color: #458787 !important;
	 font-size: 4rem;
	 margin-bottom: .5rem;
	 text-align: center;
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}
.list-inline { 
    display: block;
    list-style-type: none;  
}
.fat-footer ul li{
	display: inline-block;
	margin: .5rem;
}
.fat-footer a{
	color: #ffffff !important;
	opacity: 0.6;
}
.fat-footer h2{
	font-size: 2rem;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	opacity: 0.8;
	margin: 3rem 0 2rem 0;
}
.fat-footer p.copyright{
	color: #bbbbbb;
	font-weight: 300;
	text-align: center;
	margin-top: 6rem;
	opacity: 0.5;
}
ul.home-social {
    list-style-type: none;
    text-align: center;
} 
.fat-footer .social-wrapper{
 	margin: auto;
 }

 //-----Recent Work----//

 .thumbnail {
 	background: #acacac;
 	margin-left: 1rem ;
 }
 .recent {
	text-align: center;
	background: #ffffff;
	//padding: .5rem;
	//marging: auto 1rem 1rem 1rem;
	//border: 1px solid #e6e6e6;
}
.recent-shot {
	text-align: center;
}
.caption {
	font-size: .8rem;
	color: #646464;
	padding: .8rem 1rem;
	text-align: center;
	font-weight: 300;
}

 //-----Skills----//

 .skillbar {
	position:relative;
	display:block;
	margin-bottom:1.5rem;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	font-weight:normal;
	font-size:1rem;
	color:#fff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	//animation: come-in 3sec ease forwards;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:.8rem;
	height:35px;
	line-height:35px;
	color:#444;
	color:rgba(0, 0, 0, 0.4);
}

//----- Sub Page -----//
.page-intro {
	//background: #6fbd8d url("../visual-assets/hero1.jpg")repeat scroll center center / cover;
	//background-attachment: fixed;
	//background: #6fbd8d;
    //min-height: 600px;
    margin: auto;
}
.intro-text-subpage{
	//background: #6fbd8d url("../visual-assets/bg.png")repeat scroll center center / cover;
}
.intro-text-subpage h1 {
	text-align: center;
	font-size: 3.5rem;
	font-weight: 300;
	color: #444444;
	padding-top:4rem;
	line-height: 4.5rem;
	margin:0 4.3rem 0 4.3rem;
}
.intro-text-subpage h3 {
	text-align: center;
	font-family: 'Roboto Slab', serif;
	font-size: 1.2rem;
	color: #525252;
	margin:2.4rem 11rem 5rem 11rem;
	line-height: 2.4rem;
}
p.intro-text-subpage {
	font-weight: 300;
	color: #646464 !important;
	}
.callout1{
	margin-top: .7rem;
	color: #848484 !important;
}
.section-header4{
	text-align: center;
	font-size: 2rem;
	color: #444444;
	margin: -2.5rem auto 3.2rem auto;
}

.insportal1 {
	background: #6fbd8d url("../visual-assets/InsurancePortal_01.png")repeat scroll center center / cover;
    height: 2000px;
    margin: auto;
    padding: 4rem 4rem 8rem 4rem;
}

//-----Media Resets-----//

@media #{$small-only} {
	.skills{
		text-align: center;
		height: 80%;
		padding: 2rem 2.5rem;
		border-bottom: 1px dashed #e6e6e6;
	}
	.intro-text h3 {
		display: none;
	}
	.recent {
		margin: 1rem 0 !important;
		padding: 0;
	}
	.section-header3{
		font-size: 2rem;
		color: #444444;
		margin: 3.2rem auto 3.2rem auto;
	}
 }
//-----Modal-----//
#modal-1 {
	text-align: center;
}

.modal-container {
	display: none;
	section {
		display: inline-block;
	}
}
.modal-rowwidth{
	max-width:80rem;
}
.modal-rowwidth2{
	padding: 4.2rem;
	text-align: justify;
}
.modal-rowwidth3{
	padding: 0 2rem;
}
.modal-open {
	display: block;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	background-color: rgba(30,30,30,0.9);
}
.project-wrapper {
	background: #ffffff;
	width: 100%;
	height: 100%;
	margin-bottom: 2rem;
}
.hero-ip1{
	background: #6fbd8d url("../visual-assets/hero-ip1")no-repeat scroll center center / cover;
	height:550px;
}
.hero-ip1b{
	background: #6fbd8d url("../visual-assets/hero-ip1b.png")no-repeat scroll center center / cover;
	height:644px;
}