body{
	word-wrap: break-word;
}
.hero-wrapper {
	background: #6fbd8d url("../visual-assets/hero1.jpg")repeat scroll center center / cover;
	background-attachment: fixed;
	//background: #6fbd8d;
    height: 600px;
    margin: auto;
}
.skill-set {
	//background: #6fbd8d url("../visual-assets/hero1.jpg")repeat scroll 0 0 / cover;
	background: #ffffff;
    height: 600px;
    margin: auto;
}
.panel {
	background: none;
	border: none;
	text-align: center;
}
.intro-text h1{
	text-align: center;
	font-size: 4rem;
	font-weight: bold;
	color: #ffffff;
	margin-top:10rem;
	line-height: 4.5rem;
}
.intro-text h3{
	text-align: center;
	font-size: 1.8rem;
	color: #ffffff;
	margin-top:2.4rem;
	line-height: 3.2rem;
}